<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %> 
<body>
    <main class="center-text">
        <% if(products.length > 0) {  %>  
            <ul>
                <% products.forEach(prddata  => {%>
                    <li>
                        <p> <%= prddata.title %> ( <%= prddata.cartItem.quantity %> ) </p>  
                        <form method="POST" action="/cart_delete_item">    
                            <input type="hidden" name="productId" value="<%= prddata.id %>">  
                            <button class="btn" type="submit">Delete</button>  
                            </form>
                    </li>

                    <%  }) %>
            </ul>
            <form method="POST" action="/create-order">      
            <button class="btn" type="submit" >Order Now</button>   
            </form>  

            <% } else { %>
                <h3>No Products Found</h3>    
                <% } %>
        </main>
<%- include('../includes/end.ejs') %>   
